*{
    text-align: center;
}

body{

    background-image: url("fondo_gatrivia-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.welcomeImg{
    width: 30%;
    }